{% extends '::base.html.twig' %}

{% block body -%}
     {{parent()}}
    <div class="container">
        <div class="col-md-12">
            <div class="page-header margin-none">
                <h1 class="padding-none">Checkin list</h1>
     
<div class="table-responsive">
    <table class="table table-striped table-hover">

        <thead>
            <tr>
                <th>Id</th>
                <th>Note</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('note_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.note }}</td>
                
                             <td class="actions">
                           
                                    <a href="{{ path('note_show', { 'id': entity.id }) }}" 
                                       class="btn btn-sm btn-info ">show</a>
                              
                                    <a href="{{ path('note_edit', { 'id': entity.id }) }}"
                                       class="btn btn-sm btn-primary" >edit</a>
                                       
                                        <a href="{{ path('note_delete', { 'id': entity.id }) }}"
                                           class="btn btn-sm btn-danger" >delete</a>
                             
                            </td>
                
                
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('note_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
