{% extends '::base.html.twig' %}
{% block body -%}
      {{parent()}}
    <h1>Professeur list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Datenaissance</th>
                <th>Genre</th>
                <th>Specialite</th>
                <th>Tauxhoraire</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('professeur_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.nom }}</td>
                <td>{{ entity.prenom }}</td>
                <td>{% if entity.dateNaissance %}{{ entity.dateNaissance|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.genre }}</td>
                <td>{{ entity.specialite }}</td>
                <td>{{ entity.tauxHoraire }}</td>
                <td class="actions">
                
                        <a href="{{ path('professeur_show', { 'id': entity.id }) }}"
                           class="btn btn-sm btn-info ">Show</a>
                 
                        <a href="{{ path('professeur_edit', { 'id': entity.id }) }}"
                           class="btn btn-sm btn-primary">Edit</a>
                           
                        <a href="{{ path('professeur_delete', { 'id': entity.id }) }}"
                           class="btn btn-sm btn-danger">Delete</a>
                
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('professeur_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
